body{
font-family: Arial;
margin:0;
background:#111;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:black;
position:sticky;
top:0;
}

nav a{
margin:0 10px;
text-decoration:none;
color:white;
font-size:14px;
}

.hero{
text-align:center;
padding:120px 20px;
background:#1b1b1b;
}

section{
padding:60px 20px;
max-width:1000px;
margin:auto;
}

h2{
border-left:4px solid #00c3ff;
padding-left:10px;
}

.card{
background:#1e1e1e;
padding:20px;
margin:20px 0;
border-radius:10px;
}

.skill{
margin:20px 0;
}

.bar{
background:#333;
height:10px;
border-radius:20px;
}

.bar span{
display:block;
height:10px;
background:#00c3ff;
border-radius:20px;
}

footer{
text-align:center;
padding:20px;
background:black;
}
